.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Krona One', sans-serif;
    text-shadow: 2px 2px #ff0000;
}

.infoh1{
    font-size: 40px;
    text-align: center;
}

.infop{
    text-align: center;
}

.ferrari{
    width: 50%;
}