html, body, #root, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    /* background-color: red; */
  }

  .container{
    border: solid red;
    height: 60vh;
    width: 100%;
  }

  .Hero{
    font-family: 'Silkscreen', cursive;
    color: white;
  }

  .flex{
    display: flex;
    flex-direction: column;
  }

  